<mat-card appearance="outlined" class="portfolio-card">
    <mat-card-content class="content-container">
      <div class="text-content">
        <h1 class="portfolio-title">Alejandro Rincon</h1>
        <p class="portfolio-description">
          I’m a software developer, passionate for creating useful and efficient applications.
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/alejandro-rincon-vera-4810b615a/" target="_blank" mat-icon-button aria-label="LinkedIn">
            <mat-icon>linkedin</mat-icon>
          </a>
          <a href="mailto:alejandro.rv97@gmail.com" mat-icon-button aria-label="Email">
            <mat-icon>email</mat-icon>
          </a>
          <a href="https://github.com/lejodev" target="_blank" mat-icon-button aria-label="GitHub">
            <mat-icon>code</mat-icon>
          </a>
          <a href="https://x.com/Alejandro_RV8" target="_blank" mat-icon-button aria-label="Twitter">
            <mat-icon>Twitter</mat-icon>
          </a>
        </div>
      </div>
      <img src="/assets/images/me.jpg" alt="Nick McMillan" class="portfolio-image" />
    </mat-card-content>
  </mat-card>